spring:
  application:
    name: order-service
  config:
    import: optional:configserver:http://localhost:8888

  datasource:
    url: jdbc:h2:mem:orderdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: 1
      retries: 3

server:
  port: 8082

eureka:
  client:
    enabled: false  # 로컬 개발 시 Eureka 비활성화
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true